<div class="pir-results-container">
    {{#if items}}
    <section class="pir-results-body">
        <div class="pir-table">
            <div class="pir-table-header">
                <div class="pir-table-cell">{{localize "PIR.dialog.results.table.actor"}}</div>
                <div class="pir-table-cell">{{localize "PIR.dialog.results.table.item_type"}}</div>
                <div class="pir-table-cell">{{localize "PIR.dialog.results.table.actions"}}</div>
                <div class="pir-table-cell">{{localize "PIR.dialog.results.table.changed_property"}}</div>
                <div class="pir-table-cell">{{localize "PIR.dialog.results.table.actor_item"}}</div>
                <div class="pir-table-cell">{{localize "PIR.dialog.results.table.origin_item"}}</div>
            </div>

        {{#each items}}
            <div class="pir-table-row">
                <div class="pir-table-cell">{{{this.actorLink}}}</div>
                <div class="pir-table-cell">{{this.type}}</div>
                <div class="pir-table-cell pir-button-holder">
                    {{#each this.buttons}}
                        {{#unless this.hidden}} 
                            <button class="pir-button" {{#if this.disabled}} disabled="true" {{/if}} title={{#if this.disabled}} "{{this.disabled}}" {{^}} "{{this.title}}" {{/if}} data-action="{{this.action}}" value="{{this.value}}">
                                <i class="{{this.icon}}"></i>
                            </button>
                        {{/unless}}
                    {{/each}}
                </div>
                <div class="pir-table-cell">{{{this.comparativeDataText}}}</div>
                <div class="pir-table-cell">{{{this.actorItemLink}}}</div>
                <div class="pir-table-cell">{{{this.originItemLink}}}</div>
            </div>
        {{/each}}
        </div>
    </section>
    {{else}}
    <h2>{{localize "PIR.dialog.results.no_changed_items"}}</h2>
    <p>{{localize "PIR.dialog.results.searched_actors"}}<br>{{this.actorIds}}</p>
    {{/if}}
</div>